@model SistemaWebEmpleado.Models.Empleado
@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

    <div>
        @Html.DisplayNameFor(model => model.EmpleadoId)
    </div>
    <div>
        @Html.DisplayFor(model => model.EmpleadoId)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div>
        @Html.DisplayFor(model => model.Nombre)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Apellido)
    </div>
    <div>
        @Html.DisplayFor(model => model.Apellido)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Dni)
    </div>
    <div>
        @Html.DisplayFor(model => model.Dni)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Legajo)
    </div>
    <div>
        @Html.DisplayFor(model => model.Legajo)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div>
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <a asp-action="Index">Volver al principio</a>